* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffd32a;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contenedor{
    width: 100%;
    height: 100vh;

    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style:  none;
    display: inline-block;
    margin-left: 60px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #ffa801;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ffd32a;
}

.contact-form form button {
    background: #ffd32a;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #ffd32a;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
.caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    color: gray;
    border-bottom: 1px solid #ffd32a;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }

 footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
    font-family: 'Open Sans';
}
.footer-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.rsocial{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.rsocial li{
    margin: 0 10px;

}
.rsocial a{
    text-decoration: none;
    color: #fff;

}
.rsocial a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.rsocial a:hover i{
 color: aqua;

}
.footer-b{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-b p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
